@import "reset.css";

@font-face {
  font-family: "Suisse";
  src: url("SuisseIntl-Book.otf") format("opentype");
}

@font-face {
  font-family: "Panama";
  src: url("Panama-Monospace-Italic.ttf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Panama";
  src: url("Panama-Monospace-Demo-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NibPro";
  src: url("NibPro-Light.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --yellow-green: #e3fd84;
  --pink: #ffa8c2;
  --dark-pink: #f965a5;
  --green: #2f807f;
  --grey: #e5e5e4;
  --dark-grey: #dcdcdc;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*::selection {
  color: var(--pink);
}

video::-webkit-media-controls {
  display: none;
}

/* Could Use thise as well for Individual Controls */
video::-webkit-media-controls-play-button {
}

video::-webkit-media-controls-volume-slider {
}

video::-webkit-media-controls-mute-button {
}

video::-webkit-media-controls-timeline {
}

video::-webkit-media-controls-current-time-display {
}

video::-webkit-media-controls,
video::-moz-media-controls,
video::-o-media-controls,
video::-ms-media-controls {
  display: none !important;
}
/* ОСНОВНОЕ */

body {
  width: 100vw;
  margin-top: -120px;
  overflow-x: hidden !important;
  overflow-y: scroll;
  background: var(--pink);
  cursor: url("../img/new-1/emoji01.png") 30 30, auto;

  --webkit-font-smoothing: grayscale;
}

a:hover,
button:hover,
.card {
  cursor: url("../img/new-1/emoji02.png") 30 30, auto;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--green);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff4079;
  border-radius: 200px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ff4079;
  border-radius: 200px;
}

/* ХЭДЕР */

header {
  font-family: "Suisse";
  font-size: 24px;
  text-transform: uppercase;

  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 16px 40px 40px 40px;

  position: fixed;
  z-index: 100;
  background: linear-gradient(
    180deg,
    rgba(47, 128, 127, 1) 0%,
    rgba(47, 128, 127, 0) 85%
  );
}

header > a {
  text-decoration: none;
  letter-spacing: 0.5px;
  color: var(--pink);
  -webkit-text-stroke: 3px var(--pink);
}

a:hover {
  /* color: var(--orange); */
  -webkit-text-stroke: 10px var(--pink);
  /* transition: 0.6s; */
}

/* КОНТЕНТ */

.first {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.name {
  width: 90vw;
}

.first-description {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;

  padding: 0 40px;
  margin-top: -20px;
}

.first-description p {
  color: #2f807f; /* Цвет текста */
  width: 25%;
  font-family: "Suisse Intl", sans-serif;
  font-size: 17px;
  font-weight: 450;
  line-height: 1.2;
  letter-spacing: 0.93px;
  text-transform: uppercase;
  /* text-align: center; */
  /* Множественные тени для создания эффекта скругленной обводки */
  text-shadow: -0.5px -0.5px 0 #2f807f, 0.5px -0.5px 0 #2f807f,
    -0.5px 0.5px 0 #2f807f, 0.5px 0.5px 0 #2f807f, -1px 0 0 #2f807f,
    1px 0 0 #2f807f, 0 1px 0 #2f807f, 0 -1px 0 #2f807f, -1px -1px 0 #2f807f,
    1px -1px 0 #2f807f, -1px 1px 0 #2f807f, 1px 1px 0 #2f807f;
}

section {
  display: flex;
  flex-direction: column;
  row-gap: 52px;
  margin-top: 120px;
  overflow-x: hidden;
}

.content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
}

.content__box {
  position: relative;
  width: 100vw;
  margin-bottom: 10vw;

  display: flex;
  justify-content: center;
}

.content__box:nth-child(4) {
  margin-bottom: -80px;
}

/* ПЕРВАЯ СЕКЦИЯ */

.lalal {
  position: absolute;
  top: 0;
  left: 3vw;

  width: 50vw;
  animation: scale-mini 7s infinite ease-in-out;
}

.mist-preview {
  width: 27vw;

  margin: 20vw 0 0 14vw;
  z-index: 2;
  border-radius: 8px;
  animation: scale 4s infinite ease-in-out;
  transform: perspective(1400px) translateX(-6vw);
}

.lalal-player {
  position: absolute;
  right: 5vw;
  top: 4vw;

  width: 30vw;
  animation: scale 16s infinite ease-in-out;
}

.dye-big {
  width: 60vw;
  border-radius: 4px;

  position: absolute;
  top: -46vw;
  left: 3vw;

  animation: scale-mini 11s infinite ease-in-out;
  transform: perspective(1400px) translateX(-6vw);
}

.dye-mini {
  position: absolute;
  top: -29vw;
  z-index: 2;
  left: 50vw;

  width: 25vw;
  animation: scale 5s infinite ease-in-out;
}

.haier-1 {
  position: absolute;
  top: 38vw;
  left: 14vw;

  z-index: 2;

  width: 12vw;

  animation: scale-mid 7s infinite ease-in-out;
}

.lalal-sign {
  position: absolute;
  top: 29vw;
  left: 72vw;
  z-index: 2;

  width: 22vw;

  animation: scale-mid-rev 6s infinite ease-in-out;
}

.haier-6 {
  position: absolute;
  left: 35vw;
  bottom: -19vw;

  z-index: 100;
  width: 30vw;
  animation: scale-mini 3s infinite ease-in-out;
}
.essen-3 {
  position: absolute;
  top: 26vw;
  left: -1vw;
  width: 30vw;
  border-radius: 6px;
  animation: scale-mid-rev 9s infinite ease-in-out;
}

/* ВТОРАЯ СЕКЦИЯ */

.synth {
  width: 48vw;
  transform: translate(-20vw, 9vw);
}

.haier-2 {
  position: absolute;
  top: 63vw;
  left: 15vw;

  z-index: 2;

  width: 16vw;
  animation: scale 4s infinite ease-in-out;
}

.hanti {
  width: 20vw;

  position: absolute;
  top: 4vw;
  right: 18vw;
  animation: scale-mid 5s infinite ease-in-out;
}

.haier-3 {
  width: 50vw;

  position: absolute;
  bottom: -13vw;
  right: 3vw;
  animation: scale 15s infinite ease-in-out;
}

/* ТРЕТЬЯ СЕКЦИЯ */
.career {
  width: 60vw;
  margin-top: 12vw;
  margin-bottom: 20vw;
  margin-left: 35vw;
  border-radius: 10px;
  z-index: 2;

  animation: scale 10s infinite ease-in-out;
}

.essen-1 {
  width: 25vw;

  position: absolute;
  right: 5vw;
  top: 7vw;
  animation: scale-mid 5.5s infinite ease-in-out;
}

.tomorrow {
  width: 16vw;
  position: absolute;
  right: 2vw;
  top: 45vw;
  z-index: 3;
  animation: scale-mini 5.5s infinite ease-in-out;
}

.haier-9 {
  width: 18vw;

  position: absolute;
  left: 45vw;
  bottom: 0;
  z-index: 100;

  z-index: -1;
  animation: scale-mid-rev 8s infinite ease-in-out;
}

/* ЧЕТВЕРТАЯ СЕКЦИЯ */

.hunti-1 {
  width: 16vw;

  position: absolute;
  top: -23vw;
  right: 8vw;
  animation: scale-mid 4s infinite ease-in-out;
}

.point {
  width: 16vw;

  position: absolute;
  top: -13vw;
  right: 30vw;

  z-index: 3;
  animation: scale 6s infinite ease-in-out;
}

.locus {
  width: 58vw;
  margin-top: 7vw;
  margin-bottom: 14vw;
  transform: translate(-13vw, -10vw);
}

.hydra {
  position: absolute;
  bottom: 0;
  right: 10vw;

  z-index: 2;
  animation: scale 6s infinite ease-in-out;
}

.haier-10 {
  width: 19vw;

  position: absolute;
  top: 8vw;
  right: 6vw;
  animation: scale-mid-rev 5s infinite ease-in-out;
}

.haier-11 {
  width: 19vw;

  position: absolute;
  bottom: 10vw;
  left: 15vw;
  animation: scale-mid 5s infinite ease-in-out;
}

.pumpkin {
  width: 30vw;
  position: absolute;
  top: 5vw;
  z-index: 3;
  left: 60vw;
  animation: scale 5s infinite ease-in-out;
}

.haier-btn {
  position: relative;
  top: -13vw;
  left: -37vw;
  width: 20vw;
  z-index: 10;
  animation: scale-mid 8s infinite ease-in-out;
}

/* КЕЙСЫ */

.cases {
  width: 100vw;
  padding: 12px 24px 12px 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.cases__heading {
  width: 80vw;
}

.wrapper {
  perspective: 1700px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;

  width: 100vw;
  padding: 0 3vw;
  padding-top: 40px;
  margin-bottom: 8vw;
  row-gap: 5vw;
}

.card {
  width: 44vw;
  height: auto;

  transform-style: preserve-3d;
  animation: spin 14s infinite linear; /* анимация spin */
}

.card:nth-child(1) {
  animation: spin 17s infinite linear; /* анимация spin */
}

.card:nth-child(2) {
  animation: spin 12s infinite linear; /* анимация spin */
}

.card:nth-child(3) {
  animation: spin 16s infinite linear; /* анимация spin */
}

.card-caption {
  width: 72px;
  height: 72px;

  position: absolute;
  right: 2vw;
  top: 2vw;

  z-index: -1;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 12px;
  transition: transform 0.5s;
}

@keyframes spin {
  100% {
    transform: rotateY(360deg);
  }
}
/*
@keyframes spin-2 {
  0% {
    transform: rotateX(45deg) rotateZ(45deg);
  }
  100% {
    transform: rotateX(45deg) rotateZ(405deg);
  }
}

@keyframes spin-3 {
  0% {
    transform: rotateX(19deg) rotateZ(340deg);
  }
  100% {
    transform: rotateX(19deg) rotateZ(-20deg);
  } */
/* } */
/* Стили для плашки, которая будет выезжать снизу */
.open-button-for-popup1 {
  background: none;
  border: none;
}
.card-popup {
  position: fixed;
  display: flex;
  flex-direction: row;

  bottom: -100vh;
  left: 0;
  width: 100%;
  min-height: 144px;
  transition: bottom 0.3s;
  z-index: 1000;
  padding: 12px;
}

.card-popup__info {
  display: flex;
  align-items: flex-start;
  gap: 24px;

  background: #343434;
  border-radius: 20px;
  padding: 20px;
  width: 50vw;
}

.card-popup__info__left {
  width: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.card-popup__info p {
  width: auto;
  font-family: "Suisse";
  font-size: 15px;
  font-style: normal;
  font-weight: 450;
  line-height: 19px; /* 126.667% */
  letter-spacing: -0.075px;
  color: #9c9c9c;
}

.card-popup__info__left p {
  font-family: "Suisse";
  font-size: 16px;
  line-height: 20px; /* 125% */
  font-style: normal;
  font-weight: 450;
  letter-spacing: -0.08px;
  color: #9c9c9c;
}

.card-popup__info__left__text {
  display: flex;
  align-items: flex-start;
}

.card-popup__info__left__text h2 {
  font-family: "Panama";
  font-size: 70px;
  padding-top: 2px;
  font-style: normal;
  color: #dbdbdb;
  font-weight: 400;
  line-height: 64px; /* 91.429% */
  letter-spacing: -5.6px;
}

.card-popup__info__left__text img {
  border-radius: 12px;
  width: 54px;
}

.card-popup h2 {
  padding-left: 4px;
}

.card-popup p {
  /* Ваши стили для текста */
}

.card-popup-buttons {
  display: flex;
  width: 50vw;
}

/* Стили для кнопки закрытия и кнопки ссылки */
.button-close,
.button-link {
  transition: 0.25s;
  border-radius: 300px;
  border: none;
}
.button-close:hover,
.button-link:hover {
  transform: scale(0.96);
}

.button-close {
  width: 20%;
  background: #fc6020;
}

.button-link {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--green);
}

.wrapper-myguys,
.wrapper-principles {
  transition: 0.25s;
  text-decoration: none;
  -webkit-text-stroke: 0px var(--pink) !important;
}

.wrapper-myguys:hover,
.wrapper-principles:hover {
  transform: scale(0.98);
}

/* ПРИНЦИПЫ */
.principles {
  width: 96vw;
  height: 26vw;
  margin: 0 1.5vw;
  border-radius: 24px;
  background: var(--green);

  display: flex;
  justify-content: space-between;
}
.principles h3 {
  width: 40vw;
  padding: 30px;
  font-family: "Panama";
  font-size: 54px;
  font-style: normal;
  font-weight: 400;
  line-height: 49.5px; /* 91.667% */
  letter-spacing: -1.89px;
  color: #ffa8c2;
  text-transform: uppercase;
}

.principles img {
  height: 100%;
}

.myguys {
  width: 96vw;
  height: 12vw;
  margin: 1.5vw;
  border-radius: 24px;
  background: #2f2f2f;
  overflow: hidden;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.myguys h3 {
  font-family: "Suisse";
  font-weight: bold;
  font-size: 22px;
  -webkit-text-stroke: 1px var(--pink);
  color: var(--pink);
}

.myguys img {
  height: 100%;
}

/* ДОСТИЖЕНИЯ */
.achievements {
  font-family: "Panama", serif;
  font-weight: normal;
  text-transform: uppercase;
  padding: 0px 40px 0px 40px;
  margin-top: 10vw;
  position: relative;

  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;
  grid-gap: 80px;

  color: var(--green);
}

/* .achievements::before {
  content: "";
  position: absolute;
  left: -50%;
  right: 0;
  z-index: -1;

  display: block;
  width: 200%;
  height: 160%;

  background: var(--yellow-green);
  filter: blur(50px);
} */

.achievements h2 {
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -0.04em;
  margin-bottom: 52px;
  margin-top: 150px;
}

.achievements__box-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px 16px;
}

.achievements__box {
  font-size: 32px;
  font-weight: normal;
  line-height: 35px;
  letter-spacing: -0.01em;
}

.achievements__box__header {
  display: flex;
  align-content: flex-start;
  flex-direction: row;
  gap: 5px;
  align-items: baseline;
}

.achievements__box span {
  font-family: "Suisse";
  /* letter-spacing: -0.05em; */
  -webkit-text-stroke: 5px var(--green);
}

.achievements__box b {
  font-style: italic;
}

/* ФУТЕР */

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.btn {
  width: 70vw;
  font-size: 140px;
  letter-spacing: -0.08em;
  font-family: "Panama";
  font-style: italic;
  border-radius: 8em;
  padding: 5%;
  text-align: center;

  position: relative;

  color: var(--yellow-green);
}

.btn:hover {
  background-image: url(../img/new-1/inst1.jpg);
}

.btn a {
  text-decoration: none;
  color: var(--yellow);
}

.btn::before {
  content: "";
  border-radius: 370px/200px;

  position: absolute;
  top: -50px;
  left: -10vw;
  right: 0;

  z-index: -1;

  display: block;
  width: 90vw;
  height: 370px;

  background: var(--dark-pink);
  filter: blur(30px);
}

.footer__btn-images {
  display: flex;
  grid-gap: 4px;
}

.footer__btn-images img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.caption {
  width: 100%;
  font-family: "Suisse";
  font-size: 32px;
  font-weight: 300;
  letter-spacing: -0.01em;

  display: flex;
  justify-content: space-between;

  margin-top: 120px;
  padding: 32px 40px;
  color: var(--green);
}

.caption p {
  -webkit-text-stroke: 4px var(--green);
}

.caption b {
  font-family: "Panama";
  font-size: 35px;
  text-transform: uppercase;
  letter-spacing: -0.06em;
  -webkit-text-stroke: 0px;
}

/* АДАПТИВ */

@media (max-width: 768px) {
  header {
    font-size: 16px;
    padding: 16px 20px 40px 20px;
  }

  .name {
    width: 70vw;
  }

  .first-description p {
    font-size: 12px;
    width: 30%;
    text-shadow: -0.25px -0.25px 0 #2f807f, 0.25px -0.25px 0 #2f807f,
      -0.25px 0.25px 0 #2f807f, 0.25px 0.25px 0 #2f807f, -0.5px 0 0 #2f807f,
      0.5px 0 0 #2f807f, 0 -0.5px 0 #2f807f, 0 0.5px 0 #2f807f;
    letter-spacing: 0px;
  }

  .career {
    width: 60vw;
  }

  .locus {
    width: 70vw;
  }

  .hydra {
    bottom: 0;
    width: 63vw;
    right: 10vw;
  }

  .haier-11 {
    z-index: 5;
  }

  .card-popup__info p {
    width: 100%;
  }

  .card-popup__info {
    flex-direction: column;
  }

  .achievements {
    padding: 0px 20px 0px 20px;
    grid-gap: 60px;
  }

  .achievements__heading {
    width: 60vw;
  }

  .achievements__box {
    font-size: 20px;
    line-height: 24px;
  }

  .achievements__box span {
    -webkit-text-stroke: 3px var(--green);
  }

  .achievements__box__header img {
    width: 16px;
  }

  .achievements__box-grid {
    grid-gap: 30px 16px;
  }

  .caption {
    font-size: 12px;
    margin-top: 100px;
    padding: 16px 20px;
  }
  .caption p {
    -webkit-text-stroke: 2px var(--green);
  }

  .caption b {
    font-size: 12px;
  }
}

@media (max-width: 450px) {
  body {
    margin-top: 0px;
  }

  header {
    height: 120px;
    position: static;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    background: none;
    font-size: 24px;
    padding: 16px 16px 0px 16px;
  }

  header a {
    color: var(--green);
    -webkit-text-stroke: 3px var(--green);
    padding-bottom: 8px;
  }

  a:hover {
    -webkit-text-stroke: 13px var(--green);
  }

  section {
    margin-top: 0px;
  }

  .first {
    margin-top: 70px;
  }

  .name {
    width: 90vw;
  }

  .first-description {
    padding: 0 16px;
  }

  .first-description p {
  }

  /* СЕКЦИЯ 1 */

  .lalal-player {
    top: -7vw;
    z-index: 2;
    right: auto;
    left: 2vw;
    width: 43vw;
  }

  .lalal {
    width: 90vw;
    top: 18vw;
    left: 5vw;
  }

  .mist-preview {
    border-radius: 4px;
    width: 57vw;
    margin: 63vw 0 0 42vw;
  }

  .dye-big {
    width: 90vw;
    top: -36vw;
    left: 3vw;
  }

  .dye-mini {
    top: -20vw;
    right: auto;
    left: 59vw;
    width: 39vw;
  }

  .haier-btn {
    top: 9vw;
    left: -26vw;
    width: 44vw;
  }

  .haier-1 {
    top: 80vw;
    left: 5vw;
    width: 30vw;
  }

  .haier-2 {
    z-index: 3;
  }

  .haier-5 {
    display: none;
  }

  .essen-3 {
    width: 52vw;
    top: -3vw;
    left: 67vw;
    border-radius: 2px;
  }

  .lalal-sign {
    left: 28vw;
    width: 60vw;
    top: 116vw;
  }

  .haier-6 {
    left: 3vw;
    width: 50vw;
    bottom: -53vw;
  }

  .content__box:nth-child(2) {
    margin-top: 140px;
  }

  .hanti {
    width: 30vw;
    top: -8vw;
    right: 2vw;
  }

  .synth {
    width: 68vw;
    transform: translate(-10vw, 2vw);
  }

  .haier-3 {
    right: -17vw;
    width: 88vw;
    bottom: -39vw;
    z-index: 3;
  }

  .haier-2 {
    top: 133vw;
    left: 3vw;
    width: 33vw;
  }

  .essen-1 {
    width: 40vw;
    right: 45vw;
    top: -20vw;
  }

  /* СЕКЦИЯ 3 */
  .career {
    width: 90vw;
    margin-left: 0;
    border-radius: 4px;
    margin-top: 22vw;
  }

  .tomorrow {
    width: 30vw;
    right: 0vw;
    top: 68vw;
  }

  .essen-2 {
    width: 40vw;
    left: 65vw;
    bottom: -6vw;
    z-index: 2;
  }

  .haier-9 {
    width: 40vw;
    left: 51vw;
    bottom: -41vw;
    z-index: -1;
  }

  /* СЕКЦИЯ 4 */
  .content__box:nth-child(4) {
    margin: 120px 0 0;
  }

  .hunti-1 {
    width: 36vw;
    top: -17vw;
    right: 1vw;
  }

  .point {
    top: 68vw;
    width: 29vw;
    right: 50vw;
  }

  .locus {
    width: 80vw;
    z-index: -1;
    position: static;
    transform: translate(-10vw, -10vw);
  }

  .hydra {
    z-index: 0;
    bottom: -20vw;
    right: -10vw;
    width: 100vw;
  }

  .haier-10 {
    width: 39vw;
    top: 78vw;
    right: 6vw;
  }

  .haier-11 {
    width: 39vw;
    bottom: 5vw;
    left: -5vw;
  }

  .pumpkin {
    width: 40vw;
    top: 0vw;
    left: 1vw;
  }

  /* КЕЙСЫ */
  .wrapper {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .card {
    width: 94vw;
  }

  .card-popup {
    flex-direction: column;
    padding: 0;
  }

  .card-popup__info {
    gap: 2px;
    padding: 16px;
    width: 100vw;
    flex-direction: column;
  }

  .card-popup__info__left {
    width: 100%;
    flex-direction: row;
  }

  .card-popup__info p {
    width: 100%;
    font-size: 14px;
  }

  .card-popup__info__left__text h2 {
    font-size: 50px;
    padding-left: 4px;
    line-height: 51px;
    letter-spacing: -3.6px;
  }

  .card-popup__info__left p {
    text-align: right;
  }

  .card-popup__info__left__text img {
    width: 44px;
  }

  .card-popup-buttons {
    display: flex;
    width: 50vw;
    width: 100vw;
    height: 120px;
  }

  .button-close {
    width: 35%;
  }

  .cases {
    padding: 12px 12px 12px 12px;
  }

  .cases__heading {
    width: 90vw;
  }

  /* /АЧИВМЕНТС/ */

  .achievements {
    padding: 60px 20px 0px 20px;
    grid-gap: 50px;
  }

  .achievements__heading {
    width: 73vw;
  }

  .achievements__box-grid {
    width: 100%;
    grid-gap: 16px 16px;
    grid-template-columns: repeat(2, 1fr);
  }

  .achievements__box {
    font-size: 16px;
    line-height: 19px;
  }

  .caption {
    font-size: 10px;
    margin-top: 60px;
  }

  .caption p {
    -webkit-text-stroke: 1.5px var(--green);
  }
}

/* АНИМАЦИЯ */
@keyframes scale {
  0% {
    transform: scale(0.7);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.7);
  }
}

@keyframes scale-mini {
  0% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.8);
  }
}

@keyframes scale-mid {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes scale-mid-rev {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.iframe-test {
  width: 240px;
}
/* / */
